body {
    box-sizing: border-box;
    background-image: url("images/train-main.jpg");
}

.headerDiv {
    width: 750px;
    height: 150px;
    background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

h2 {
    color: white;
    font-size: 20px;
    text-align: center;
}

.tableDiv {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 2px solid blue;
}

h3 {
    color: rgb(248, 252, 5);
    background-color: blue;
    font-size: 20px;
    font-weight: bolder;
    padding: 9px 15px;

}

th {
    padding: 7px 30px;
}

td {
    padding: 3px 30px;
}

.inputDiv {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 2px solid blue;
}

input {
    width: 95%;
    border: 1px solid black;
    margin-left: 15px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.inputLast {
    margin-bottom: 20px;
}

h4 {
    padding: 7px 10px;
    font-weight: bolder;
}

thead {
    font-weight: bolder;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

button:hover {
    color: rgb(248, 252, 5);
}